<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>formulario</title>
</head>
<body>
    <!-- header -->
     <header>
        <div class="div">
            <h1>Argentina</h1>
            <p>Hermoza de punta a punta</p>
        </div>

        <!-- navbar -->
         <div>
            <nav class="navbar">
                <a href="../../index.html"target="_blank">inicio</a>
                <a href="">estadios</a>
                <a href="">este</a>
                <a href="">oeste</a>
                <a href="">formulario</a>
                
           <input type="email"name="email"id=email>

         </nav>    
         </div>

         <!-- formulario -->

         <form>
            <fieldset>
                <legend>formulario de registro</legend>
                <label for="nombre">nombre</label>
                <input type="text" name="name"id=nombre>

                <label for="apellido">apellido</label>
                <input type="inme"name=""id=apellido>

                <label for="imail">email</label>
                <input type="email"name="email"id=email>

                

                <label for="pass">contraseña</label>
                <input type="password"name="contraseña"id=pass>

                <label for="fecha">fecha de nacimiento</label>
                <input type="date"name="date"id="fecha">

            </fieldset>
         </form>
     </header>

    
    
</body>
</html>